@mixin label{
    font-weight: $weight2;
    color:$dark_grayish_cyan_1;
    font-size: $font-label;
}

@mixin input{
    width:100%;
    font-family: $font-family;
    font-size:1.5rem;
    color:$very_dark_cyan;
    font-weight: $weight3;
    background-color: $light_grayish_cyan_2;
    border-radius:5px;
    border:none;
    padding:10px;
    margin-top:10px;
    text-align: right;

    &:focus{
        border:1px solid $very_dark_cyan;
    }
    &::placeholder{
        color:$light_grayish_cyan_1;
    }
}

@mixin i{
    position:absolute;
    left:15px;
    top:63px;
    color:$light_grayish_cyan_1;

}

@mixin output{
    //border:2px solid white;
        grid-column: span 2;
        text-align:right;
       
        
        p{
            font-size: $font-output;
            font-weight:$weight3;
            color:$strong_cyan;
            
        }
            
}

@mixin output_label{
    //border:2px solid white;
        grid-column: span 2;
        text-align:left;
        .title{
            font-size: $font-label;
            font-weight:$weight3;
            color:$light_grayish_cyan_2;
        }
        .subtitle{
            color:$dark_grayish_cyan_2;
            font-size:$font-sub;
        }
}

////media query////
@mixin mq($arg){
    @media screen and (max-width:$arg){
        @content;
    }
}