@mixin input{
    input[type=text], select{
        all:unset;
        width: 100%;
        font-family: $font-family;
        font-size:1.2rem;
        padding: 12px;
        border: 1px solid green;
        border-radius: 4px;
        box-sizing: border-box;
        margin-top: 6px;
        margin-bottom: 16px;
        resize: vertical;

        &:focus{
            border:3px solid black;
        }
      } 
}