$strong_cyan: hsl(172, 67%, 45%);

//Neutral colors

$very_dark_cyan: hsl(183, 100%, 15%);
$dark_grayish_cyan_1: hsl(186, 14%, 43%);
$dark_grayish_cyan_2: hsl(184, 14%, 56%);
$light_grayish_cyan_1: hsl(185, 41%, 84%);
$light_grayish_cyan_2: hsl(189, 41%, 97%);
$white: hsl(0, 0%, 100%);

//Typography
$font-size:24px;
$font-label:18px;
$font-sub:16px;
$font-output:30px;
$weight1:400;
$weight2:500;
$weight3:700;
$font-family:'Space Mono', monospace;
