* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* input[type=text],select{
    all:unset;
} */
body {
  font-family: "Space Mono", monospace;
  font-size: 24px;
  background-color: #c5e4e7;
}

.logo {
  margin: 6% 0 4% 0;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 350px) {
  .logo {
    margin-bottom: 10%;
  }
}

@media screen and (max-width: 600px) {
  .logo {
    margin-bottom: 8%;
  }
}

.cal {
  background-color: white;
  width: 80%;
  margin: 0 auto 0 auto;
  border-radius: 25px;
  -webkit-box-shadow: 0 4px 8px #5e7a7d;
          box-shadow: 0 4px 8px #5e7a7d;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  padding: 2.5%;
}

@media screen and (max-width: 600px) {
  .cal {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 5%;
  }
}

.cal .user_input {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  margin-right: 2%;
}

.cal .user_input .bill {
  position: relative;
  padding-bottom: 2%;
  padding-right: 2%;
}

.cal .user_input .bill label {
  font-weight: 500;
  color: #5e7a7d;
  font-size: 18px;
}

.cal .user_input .bill input[type=text] {
  all: unset;
  width: 95%;
  font-family: "Space Mono", monospace;
  font-size: 1.5rem;
  color: #00494d;
  font-weight: 700;
  background-color: #f4fafa;
  border-radius: 5px;
  border: none;
  padding: 10px;
  margin-top: 10px;
  text-align: right;
}

.cal .user_input .bill input[type=text]:focus {
  border: 3px solid #00494d;
}

.cal .user_input .bill input[type=text]::-webkit-input-placeholder {
  color: #c5e4e7;
}

.cal .user_input .bill input[type=text]:-ms-input-placeholder {
  color: #c5e4e7;
}

.cal .user_input .bill input[type=text]::-ms-input-placeholder {
  color: #c5e4e7;
}

.cal .user_input .bill input[type=text]::placeholder {
  color: #c5e4e7;
}

.cal .user_input .bill i {
  position: absolute;
  left: 15px;
  top: 63px;
  color: #c5e4e7;
}

.cal .user_input .tip {
  margin-top: 4%;
  margin-bottom: 4%;
}

.cal .user_input .tip .tip_label {
  font-weight: 500;
  color: #5e7a7d;
  font-size: 18px;
  display: block;
}

.cal .user_input .tip .tipButtons {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(30%, auto))[3];
      grid-template-columns: repeat(3, minmax(30%, auto));
  grid-gap: 15px;
  padding: 10px 10px 10px 0px;
}

@media screen and (max-width: 600px) {
  .cal .user_input .tip .tipButtons {
    -ms-grid-columns: (minmax(50%, auto))[2];
        grid-template-columns: repeat(2, minmax(50%, auto));
  }
}

.cal .user_input .tip .tipButtons .form_label {
  grid-column: span 1;
  border-radius: 5px;
  text-align: center;
  background-color: #00494d;
  color: white;
  font-weight: 700;
}

.cal .user_input .tip .tipButtons .custom {
  /* background-color:$light_grayish_cyan_2;
                color:$dark_grayish_cyan_1;
                font-weight: $weight3;
                border:none; */
  all: unset;
  grid-column: span 1;
  font-family: "Space Mono", monospace;
  font-size: 24px;
  text-align: right;
  color: #00494d;
  font-weight: 700;
  background-color: #f4fafa;
  border-radius: 5px;
  border: none;
}

.cal .user_input .tip .tipButtons .custom:focus {
  border: 3px solid #00494d;
}

.cal .user_input .tip .tipButtons .custom::-webkit-input-placeholder {
  color: #5e7a7d;
  font-size: 24px;
  text-align: center;
}

.cal .user_input .tip .tipButtons .custom:-ms-input-placeholder {
  color: #5e7a7d;
  font-size: 24px;
  text-align: center;
}

.cal .user_input .tip .tipButtons .custom::-ms-input-placeholder {
  color: #5e7a7d;
  font-size: 24px;
  text-align: center;
}

.cal .user_input .tip .tipButtons .custom::placeholder {
  color: #5e7a7d;
  font-size: 24px;
  text-align: center;
}

.cal .user_input .tip .tipButtons .form_radio {
  display: none;
}

.cal .user_input .tip .tipButtons .form_radio:checked + .form_label {
  background: #26c0ab;
  color: #00494d;
  border: none;
}

.cal .user_input .numPeople {
  position: relative;
  padding-bottom: 2%;
  padding-right: 2%;
}

.cal .user_input .numPeople label {
  font-weight: 500;
  color: #5e7a7d;
  font-size: 18px;
}

.cal .user_input .numPeople input[type=text] {
  all: unset;
  width: 95%;
  font-family: "Space Mono", monospace;
  font-size: 1.5rem;
  color: #00494d;
  font-weight: 700;
  background-color: #f4fafa;
  border-radius: 5px;
  border: none;
  padding: 10px;
  margin-top: 10px;
  text-align: right;
}

.cal .user_input .numPeople input[type=text]:focus {
  border: 3px solid #00494d;
}

.cal .user_input .numPeople input[type=text]::-webkit-input-placeholder {
  color: #c5e4e7;
}

.cal .user_input .numPeople input[type=text]:-ms-input-placeholder {
  color: #c5e4e7;
}

.cal .user_input .numPeople input[type=text]::-ms-input-placeholder {
  color: #c5e4e7;
}

.cal .user_input .numPeople input[type=text]::placeholder {
  color: #c5e4e7;
}

.cal .user_input .numPeople i {
  position: absolute;
  left: 15px;
  top: 63px;
  color: #c5e4e7;
}

.cal .results {
  grid-column: 3/-1;
}

.results {
  background-color: #00494d;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  border-radius: 20px;
  padding: 30px 40px;
  grid-gap: 15px;
}

@media screen and (max-width: 600px) {
  .results {
    margin-top: 4%;
  }
}

.results .label_tip {
  grid-column: span 2;
  text-align: left;
}

.results .label_tip .title {
  font-size: 18px;
  font-weight: 700;
  color: #f4fafa;
}

.results .label_tip .subtitle {
  color: #7f9c9f;
  font-size: 16px;
}

.results .output_tip {
  grid-column: span 2;
  text-align: right;
}

.results .output_tip p {
  font-size: 30px;
  font-weight: 700;
  color: #26c0ab;
}

.results .label_total {
  grid-column: span 2;
  text-align: left;
}

.results .label_total .title {
  font-size: 18px;
  font-weight: 700;
  color: #f4fafa;
}

.results .label_total .subtitle {
  color: #7f9c9f;
  font-size: 16px;
}

.results .output_total {
  grid-column: span 2;
  text-align: right;
}

.results .output_total p {
  font-size: 30px;
  font-weight: 700;
  color: #26c0ab;
}

.results .reset {
  grid-column: span 4;
}

.results .reset button {
  background-color: #7f9c9f;
  width: 100%;
  font-size: 24px;
  text-transform: uppercase;
  padding: 10px;
  font-family: "Space Mono", monospace;
  font-weight: 700;
  color: #5e7a7d;
  border: none;
  border-radius: 10px;
  margin: 70px 0 0 0;
}

@media screen and (max-width: 600px) {
  .results .reset button {
    margin: 30px 0 0 0;
  }
}
/*# sourceMappingURL=styles.css.map */