@import "reset";
@import "variables";
@import "mixins";

body{
    font-family:$font-family;
    font-size:$font-size;
    background-color: $light_grayish_cyan_1;
}
.logo{
    //border:2px solid green;
    margin:6% 0 4% 0;
    display:grid;
    align-items: center;
    justify-content: center;
    @include mq(350px){
        margin-bottom: 10%;
    }
    @include mq(600px){
        margin-bottom: 8%;
    }
}
.cal{
    background-color:$white;
    width:80%;
    margin:0 auto 0 auto;
    border-radius: 25px;
    box-shadow:0 4px 8px $dark_grayish_cyan_1;
    display:grid;
    grid-template-columns: repeat(4,1fr);
    padding:2.5%;

    @include mq(600px){
        width:100%;
        display:flex;
        flex-direction: column;
        padding:5%;
    }

    .user_input{
        grid-column: 1/3;
       // border:2px dashed orange;
        margin-right:2%;
        .bill{
            //border:2px solid blue;
            position:relative;
            padding-bottom:2%;
            padding-right:2%;
            label{
                @include label;
                //font-size:20px;
            }
            input[type=text]{
                @include input;
            }
            i{
               @include i;
            }
        }
        //styles for tip
        .tip{
            //border:2px solid black;
            margin-top:4%;
            margin-bottom:4%;
            
            .tip_label{
                @include label;
                display:block;
            }
           .tipButtons{
               //border:2px dashed yellow;
               display:grid;
               grid-template-columns: repeat(3,minmax(30%,auto));
               grid-gap:15px;
               padding:10px 10px 10px 0px;

               @include mq(600px){
                   grid-template-columns: repeat(2,minmax(50%,auto));
               }
            .form_label{
                grid-column: span 1;
                //display:inline-block;
               // border:1px solid;
                border-radius:5px;
                text-align: center;
                background-color: $very_dark_cyan;
                color:$white;
                font-weight: $weight3;
                
            }
            .custom{
                /* background-color:$light_grayish_cyan_2;
                color:$dark_grayish_cyan_1;
                font-weight: $weight3;
                border:none; */
               // display:inline-block;
              // width:180px;
              all:unset;
              padding-right:10px;
               grid-column: span 1;
                font-family: $font-family;
                font-size:$font-size;
                text-align: right;
                color:$very_dark_cyan;
                font-weight: $weight3;
                background-color: $light_grayish_cyan_2;
                border-radius:5px;
                border:none;
                &:focus{
                    border:3px solid $very_dark_cyan;
                }
                &::placeholder{
                    color:$dark_grayish_cyan_1;
                    font-size: $font-size;
                    text-align: center;
                }
            }
            .form_radio{
                display:none;
            }
            .form_radio:checked + .form_label{
                background:$strong_cyan;
                color:$very_dark_cyan;
                border:none;
            }
           }
   
        }
        //styles for people
        .numPeople{
            position:relative;
            padding-bottom:2%;
            padding-right:2%;
            label{
                @include label;
                //font-size:20px;
            }
            input[type=text]{
                @include input;
            }
            i{
               @include i;
            }
        }

    }
    .results{
        grid-column: 3/-1;
        //border:2px solid green;

    }
}

//results side styling
.results{
    @include mq(600px){
        margin-top:4%;
    }
    background-color: $very_dark_cyan;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    //grid-template-rows: repeat(4,1fr);
    border-radius: 20px;
    padding:30px 40px;
    grid-gap:15px;
    .label_tip{
        @include output_label;
    }
    .output_tip{
        @include output;
      
    }
    .label_total{
        @include output_label;
    }
    .output_total{
        @include output;
    }
    .reset{
        //border:2px solid white;
        
        grid-column: span 4;
       // grid-row:-1;
        button{
            background-color: $dark_grayish_cyan_2;
            width:100%;
            font-size: $font-size;
            text-transform: uppercase;
            padding:10px;
            font-family: $font-family;
            font-weight: $weight3;
            color:$dark_grayish_cyan_1;
            border:none;
            border-radius: 10px;
            margin:70px 0 0 0;
            
            @include mq(600px){
                margin:30px 0 0 0;
            }
        }
    }
}